@model PreAuthMvc.Models.RoleViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div class="right_content">
    
    @using (Html.BeginForm())
    {
            <div class="list_header">
                角色管理
                <div class="top_m_l"></div>
                <div class="top_m_r"></div>
            </div>
            <input type="hidden" value=@ViewData["usrId"] name="usrId" id="usrId">
            <input type="hidden" value=@ViewData["adminUserName"] name="adminUserName" id="adminUserName">
            <table cellspacing="0" cellpadding="0" width="100%" border="0" class="t-form">
                <tbody>
                    <tr>
                        <td class="lbl">@Html.LabelFor(model => model.RoleCode) </td>
                        <td>
                            <input type="hidden" value=@Html.ValueFor(model => model.Id) name="recordId" id="recordId">
                            <input type="text" maxlength="32" autocomplete="off" class="txt" value='@Html.ValueFor(model=>model.RoleCode)' name="RoleCode" id="RoleCode">
                            <span class="red_mark">*</span><span id="RoleCodeTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="lbl">@Html.LabelFor(model => model.RoleName) </td>
                        <td>
                            <input type="text" maxlength="32" autocomplete="off" class="txt" value='@Html.ValueFor(model => model.RoleName)' name="RoleName" id="RoleName">
                            <span class="red_mark">*</span><span id="RoleNameTip"></span>

                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="btn_line">
                <input type="button" id="okBtn" value="确定" class="btn_blue" />
                <input type="button" id="cancelBtn" value="取消" class="btn_gray" />
            </div>
    }

</div>
<script type="text/javascript">
    upms.history.go("cancelBtn");// 取消按钮
    upms.handlebtn.submit({// 确定batch
        btnid: "okBtn",
        url: '@Url.Action("SubmitAdd", "Role")',
        params: [
                { name: "recordId", targetid: "recordId", type: "text" },
                { name: "RoleCode", targetid: "RoleCode", type: "text" },
                { name: "RoleName", targetid: "RoleName", type: "text" }
                //{ name: "userAuth", targetname: "userAuth", type: "checkbox" }
        ],
        validate: {
            model: "batch",
            params: [
                {
                    targetid: "RoleCode", type: "text", infoid: "RoleCode", checkarray: [{ falsetip: "用户名不能为空!", oncheck: upms.checkUtils.isNotEmptyStr },
                                                                                   { falsetip: "用户名不能为中文!", oncheck: upms.checkUtils.isNotChinese }]
                },
                { targetid: "RoleName", type: "text", infoid: "RoleName", falsetip: "姓名不能为空!", oncheck: upms.checkUtils.isNotEmptyStr }
            ]
        }
    });
    // 校验操作员密码是否重复
    function checkPwdAgain() {
        var sOperPwd = $.trim($("#userPwd").val()),
            sReOperPwd = $.trim($("#userPwdCfm").val());
        if (sOperPwd != sReOperPwd) {
            return false;
        }
    }
    //校验电子邮箱
    function checkEmail(str) {
        if (upms.checkUtils.isNotEmptyStr(str)) {
            return upms.checkUtils.isEmail(str);
        }
    }
    // 校验手机号码
    function checkMPhone(str) {
        if (upms.checkUtils.isNotEmptyStr(str)) {
            return upms.checkUtils.isMobilePhone(str);
        }
    }
            @*function SubmitAdd() {
                debugger;
                var paramObj = {};
                paramObj.RoleCode = $("#RoleCode").val();
                paramObj.RoleName = $("#RoleName").val();

                $.ajax({
                    url: '@Url.Action("SubmitAdd", "Role")',
                    type: "GET",
                    cache: false,
                    async: false,
                    data: {
                        formContent: JSON.stringify(paramObj)
                    },
                    success: function(data) {
                        debugger;
                        //alert(data);
                        //document.getElementById("myContentDiv").innerHTML = unescape(data);
                        var _link = "/Role/Index";

                        upms.$load(upms.$webObj, _link, '', function () {
                            upms.hideOverLay();// 关闭遮罩
                        });
                    },
                    error: function(data) {
                    }
                });
            }*@
</script>

