@using CRModel.Models;
@model IEnumerable<OrderModel>
@{
    ViewBag.Title = "ConfirmMultiOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hiddenData = ViewData["SubData"];
    IEnumerable<OrderModel> failedModels = (IEnumerable<OrderModel>)Newtonsoft.Json.JsonConvert.DeserializeObject<List<OrderModel>>(ViewData["FailedData"].ToString());
    List<DicModel> expresstypemodels = ViewBag.ExpressTypeDic;
    List<DicModel> reporttypemodels = ViewBag.ReportTypeDic;
}
<div class="container body-content" style="margin-top:30px;">
    <h4>@Resources.Resources.ValidInfo</h4>
    <table style="border-collapse:collapse; width:1003px;" border="1" cellpadding="0" cellspacing="0">
        <tr style="background-color: #364149; color: #C3C0B9; white-space:nowrap;">
            <th style="width:400px;">
                @Html.Label(Resources.Resources.EnterpriseName)
            </th>
            <th style="width:400px;">
                @Html.Label(Resources.Resources.SupplyAddress)
            </th>
            <th style="width:100px;">
                @Html.Label(Resources.Resources.ReportType)
            </th>
            <th style="width:100px;">
                @Html.Label(Resources.Resources.IsUrgent)
            </th>
        </tr>
    </table>
    <div style="height: 150px; overflow-y: scroll; overflow-x:auto; width:1020px;">
        <table style="width: 100%;" cellpadding="0" cellspacing="0" border="1">
            @foreach (OrderModel mm in this.Model)
            {
                <tr>
                    <td style="width:400px;">
                        @mm.EnterpriseSuppliedName
                    </td>
                    <td style="width:400px;">
                        @mm.SuppliedAddress
                    </td>
                    <td style="width:100px;">
                        @reporttypemodels.FirstOrDefault(m => m.Code == mm.ReportType).Name
                    </td>
                    <td style="width:100px;">
                        @expresstypemodels.FirstOrDefault(m => m.Code == mm.ExpressType).Name
                    </td>
                </tr>
            }
        </table>

    </div>
    <div>
        @using (Html.BeginForm("ConfirmMultiOrder", "Order", FormMethod.Post))
        {
            <input type="hidden" name="hiddenData" id="hiddenData" value='@hiddenData' />
            <a href="@Url.Action("MultiOrder","Order")" class="btn btn-primary" style="margin-top:10px;">@Resources.Resources.Return</a>
            <input type="submit" class="btn btn-primary" style="margin-top:10px;" value='@Resources.Resources.Deal' />
        }
    </div>
    <br />
    <h4>@Resources.Resources.InvalidInfo</h4>
    <table style="border-collapse: collapse; width: 1003px;" border="1" cellpadding="0" cellspacing="0">
        <tr style="background-color: #364149; color: #C3C0B9; white-space:nowrap;">
            <th style="width:400px;">
                @Html.Label(Resources.Resources.EnterpriseName)
            </th>
            <th style="width:400px;">
                @Html.Label(Resources.Resources.SupplyAddress)
            </th>
            <th style="width:100px;">
                @Html.Label(Resources.Resources.ReportType)
            </th>
            <th style="width:100px;">
                @Html.Label(Resources.Resources.IsUrgent)
            </th>
        </tr>
    </table>
    <div style="height: 150px; overflow-y: scroll; overflow-x: auto; width: 1020px;">
        <table style="width: 100%;" cellpadding="0" cellspacing="0" border="1">
            @foreach (OrderModel mm in failedModels)
            {
                <tr>
                    <td style="width:400px;">
                        @mm.EnterpriseSuppliedName
                    </td>
                    <td style="width:400px;">
                        @mm.SuppliedAddress
                    </td>
                    <td style="width:100px;">
                        @if (mm.ReportType != null)
                        {
                            @reporttypemodels.FirstOrDefault(m => m.Code == mm.ReportType).Name
                        }
                    </td>
                    <td style="width:100px;">
                        @if (mm.ExpressType != null)
                        {
                            @expresstypemodels.FirstOrDefault(m => m.Code == mm.ExpressType).Name
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

