@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("~/Views/PartialView/SearchArea.cshtml")
<div class="container body-content" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-4">
            <div style="background-color: #34A387; border-top-right-radius:5px;border-top-left-radius:5px;"><span style="font-size:28px; color:white; margin-left:5px;">@Resources.Resources.InfoData</span></div>
            <div style="background-color: #FFEDCF; ">
                <div class="row">
                    <div class="col-sm-4">
                        <img src='@Url.Content("~/Content/images/icon_info.png")' style="padding-left:10px;padding-top:10px;" alt="" />
                    </div>
                    <div class="col-sm-8">
                        <h5>
                            @Resources.Resources.InfoDataDetails
                        </h5>
                        <a class="btn btn-warning" style="color:white; float:right;" href="#">@Resources.Resources.MoreInfo &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color: #34A387; border-top-right-radius: 5px; border-top-left-radius: 5px;"><span style="font-size: 28px; color: white; margin-left: 5px;">@Resources.Resources.Evaluation</span></div>
            <div style="background-color: #FFEDCF; ">
                <div class="row">
                    <div class="col-sm-4">
                        <img src='@Url.Content("~/Content/images/icon_credit.png")' style="padding-left:10px;padding-top:10px;" alt="" />
                    </div>
                    <div class="col-sm-8">
                        <h5>
                            @Resources.Resources.EvaluationDetails
                        </h5>
                        <a class="btn btn-warning" style="color:white; float:right;" href="#">@Resources.Resources.MoreInfo &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color: #34A387; border-top-right-radius: 5px; border-top-left-radius: 5px;"><span style="font-size: 28px; color: white; margin-left: 5px;">@Resources.Resources.Automation</span></div>
            <div style="background-color: #FFEDCF; ">
                <div class="row">
                    <div class="col-sm-4">
                        <img src='@Url.Content("~/Content/images/icon_auto.png")' style="padding-left:10px;padding-top:10px;" alt="" />
                    </div>
                    <div class="col-sm-8">
                        <h5>
                            @Resources.Resources.AutomationDetails
                        </h5>
                        <a class="btn btn-warning" style="color:white; float:right;" href="#">@Resources.Resources.MoreInfo &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>