@{
    ViewBag.Title = "CPWPIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron-header">
    <span style="font-size:30px; color: #34A387">CPWP同步错误</span>
</div>
<div class="container body-content">
    <div class="row">
        <div class="col-lg-1">
            <img src='@Url.Content("~/Content/images/icon_search.png")' alt="" />
        </div>
        <div class="col-lg-11">
            <select id="detailsdata" style="max-width:130px;margin-left:15px;display:none;">
                <option value="0">全部</option>
                <option value="1">PICC</option>
                <option value="2">安卓订单</option>
                <option value="3">出口信用</option>
            </select>
            <span>@Resources.Resources.From：</span>
            <input style="width:80px;" id="datepickerFrom" />
            <span>@Resources.Resources.To：</span>
            <input style="width:80px;" id="datepickerTo" />
            <button id="searchdetailsbtn" type="button" class="btn btn-primary" style="width:60px;float:right;">@Resources.Resources.Search</button>
        </div>
    </div>
    <div style="margin-top:3px;">
        <table id="CPWPemailgrid"></table>
        <div id="CPWPemailgridPager"></div>
    </div>
</div>

<style type="text/css">
    .ui-jqgrid tr.jqgrow td {
        font-weight: normal;
        overflow: hidden;
        white-space: normal;
        height: auto;
        padding: 0 2px 0 2px;
        border-bottom-width: 1px;
        border-bottom-color: inherit;
        border-bottom-style: solid;
    }
</style>

<script type="text/javascript">
    $("#searchdetailsbtn").click(function () {
        $("#CPWPemailgrid").jqGrid('setGridParam', {
            postData: {
                SearchOpt: $("#detailsdata").val(),
                FromDate: $("#datepickerFrom").val(),
                ToDate: $("#datepickerTo").val()
            }
        }).trigger("reloadGrid");
    });

    $(document).ready(function () {
        $("#CPWPemailgrid").jqGrid({
            url: '@Url.Action("GetCPWPSyncDetails", "EmailOrderDetails")',
            datatype: "json",
            mtype: "POST",
            height: 350,
            autowidth: true,
            colNames: ['', '', '主题', '', '错误信息', '', '客户发送时间', '用户种类', '', ''],
            colModel: [
                { name: 'Id', index: 'Id', align: 'left', hidden: true },
                { name: 'Uid', index: 'Uid', align: 'left', hidden: true },
                { name: 'Subject', index: 'Subject', align: 'left', width: 250 },
                { name: 'Receiver', index: 'Receiver', align: 'left', hidden: true },
                { name: 'ErrorMsg', index: 'ErrorMsg', align: 'left', width: 400 },
                { name: 'CreateTime', index: 'CreateTime', align: 'left', width: 60, hidden: true },
                { name: 'CustomSendTime', index: 'CustomSendTime', align: 'left', width: 60, formatter: ConvertDetails },
                { name: 'CustomerId', index: 'CustomerId', align: 'left', width: 30, hidden: true },
                { name: 'Uid', index: 'Uid', align: 'left', formatter: ShowCPWPErrorDetails, width: 20 },
                { name: 'IsDelete', index: 'IsDelete', align: 'left', formatter: ShowCPWPSyncStatus, width: 28 },
            ],
            postData: { SearchOpt: $("#detailsdata").val(), FromDate: $("#datepickerFrom").val(), ToDate: $("#datepickerTo").val() },
            rownumbers: false,
            altRows: false,
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 20, 25],
            gridComplete: function () {
                $("#CPWPemailgridPager_left").hide();
            },
            beforeSelectRow: function (rowid, e) {
                return false;
            },
            jsonReader: {
                id: "Id",
                repeatitems: false
            },
            pager: $('#CPWPemailgridPager')
        }).navGrid('#CPWPemailgridPager');
        var pickerOpts = {
            dateFormat: "yy-mm-dd"
        };
        $("#datepickerFrom").datepicker(pickerOpts);
        $("#datepickerTo").datepicker(pickerOpts);
    });

    function ConvertDetails(cellvalue, options, rowObject) {
        if (cellvalue == null) return "";
        var date = new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", "")));
        return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
    }

    function ShowCPWPErrorDetails(cellvalue, options, rowObject) {
        //if (rowObject.IsDelete == 0) {
        return "<a href='/EmailOrderDetails/CPWPDetails?Id=" + rowObject.OrderNo + "' target=\"_Blank\" style=\"text-decoration:underline; color:brown; \">" + '详情' + "</a>";
        //}
        //else {
        //    return "";
        //}
    }

    function ShowCPWPSyncStatus(cellvalue, options, rowObject) {
        if (rowObject.IsDelete == 0) {
            return "未处理";
        }
        else {
            return "已处理";
        }
    }
</script>